<launch>

<node name="$(anon offline_kitti)" pkg="patchwork" type="offline_kitti" output="screen">
<rosparam param="/algorithm">"patchwork"</rosparam> 
<rosparam param="/seq">"00"</rosparam> 
<rosparam param="/data_path">"/media/shapelim/UX960NVMe1/kitti_semantic/dataset/sequences/00"</rosparam> 
</node>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find patchwork)/rviz/patchwork_viz.rviz"/>

<rosparam command="load" file="$(find patchwork)/config/params.yaml" />
</launch>
