<launch>

<node name="$(anon benchmark)" pkg="patchwork" type="benchmark" output="screen">
<rosparam param="/algorithm">"patchwork"</rosparam> 
<rosparam param="/seq">"10"</rosparam> 
<rosparam param="/debug">false</rosparam> 
</node>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find patchwork)/rviz/ground4r_gpf.rviz"/>

<rosparam command="load" file="$(find patchwork)/config/params.yaml" />
</launch>
